name: Make timelapse

on:
  schedule:
    # at 6:30 (no DST = UTC+2)
    - cron: '30 4 * 4-10 *'
    # same thing during DST (UTC+1)
    - cron: '30 5 * 1-3,11-12 *'
  workflow_dispatch:
    inputs:
      date:
        description: 'Date with YYYY-MM-DD format'
        required: false
        type: string
      redo:
        description: 'Redo'
        required: false
        type: boolean

jobs:
  timelapse:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        run: curl -LsSf https://github.com/astral-sh/uv/releases/latest/download/uv-installer.sh | sh

      - name: Install ffmpeg
        run: |
          sudo apt update
          sudo apt install -y ffmpeg

      - name: Create the timelapse
        env:
          AUDIO_FILES: ${{ secrets.AUDIO_FILES }}
          FTP_HOST: ${{ secrets.FTP_HOST }}
          FTP_PORT: ${{ secrets.FTP_PORT }}
          FTP_TLS: ${{ secrets.FTP_TLS }}
          HTTP_PORT: ${{ secrets.HTTP_PORT }}
          FREEBOX_APP_TOKEN: ${{ secrets.FREEBOX_APP_TOKEN }}
          FREEBOX_TRACK_ID: ${{ secrets.FREEBOX_TRACK_ID }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          FTP_PATH: ${{ secrets.FTP_PATH }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_IDS: ${{ secrets.TELEGRAM_CHAT_IDS }}
          REDO: ${{ inputs.REDO }}
          date: ${{ inputs.date }}
        run: uv run --with freebox_api ffmpeg/timelapse/make_timelapse_ci.py "${date:-yesterday}"
